.application-header__container {
  width: 100%;
  display: flex;
}

.application-header__title {
  padding: 0 20px;
}

.application-header__new-game {
  display: block; 
  padding: 0 20px;
 
  margin-left: auto;
  margin-right: 0px;
}